  <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About us</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>Aravind curtain has an excellent collection of all vibrant colors and designs in different quality of fabrics which are imported from UAE,Belgium, Turkey,and India. We have a wide range of curtains and accessories, curtain rails and hooks, sofa fabrics, blinds, wall to wall carpets and wall coverings, PVC floorings, chiffon and organza.</p>
                </div>
               
                
            </div>
        </div>
    </section>
    </section>