  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} 2014 </span>

                </div>
                <div class="col-md-4">
                    <span class="copyright">India,kerala,thrissur,kodungallur,phone:+917034047758</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><p>Privacy Policy</a>
                        </li>
                        <li><p>Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>