<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">we are curtain experts</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                         <i class="fa fa-scissors fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Designing</h4>
                    <p class="text-muted">Our team of curtain makers are skilled at finishing your curtains to the highest professional standards. If joins are needed, often the case if you have wider windows in your home, the pattern will be matched to perfection and an overlock seam used for a smooth end result..</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Clever techniques are also used for attaching linings and making them stitching as invisible as possible.Finally weights are inserted into the bottom of the curtains for smooth hanging..</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Quality</h4>
                    <p class="text-muted">We introduce ourselves as one of the leading furnishing company based in India since 2000. We are into all types of Home, Hotel and Restaurant furnishings. We have specialization in curtains, blinds,home furnishings We have a team of creative as well as skilled employees. We make sure that each order is finished in its estimated time and best quality…</p>
                </div>
            </div>
        </div>
    </section>